/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-blue.css";

body, input {
    font-family: Helvetica, Arial;
    font-size: 14px;
}

body {
    margin: 30px;
}

input {
    padding: 10px 5px;
}

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}