@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

body,
input {
  font-family: Helvetica, Arial;
  font-size: 14px;
}

body {
  margin: 30px;
}

input {
  padding: 10px 5px;
}

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}